.navbar {
  border-radius: 0px;
}
.first-container {
  margin-top: 5%;
}
.side-bar {
  width: 12%;
  background-color: black;
  height: 87%;
  position: fixed;
}
.imageDescr {
  padding-left: 5%;
}
.magnifier {
  position: relative;
  top: 3px;
  left: 89.5%;
}
.divForImage {
  padding-left: 5%;
  text-align: center;
}
.addPortfolioHeader {
  padding-left: 0;
}
.myPagination {
  font-family: Helvetica;
}
.ratings {
  margin-top: 2%;
  background-color: #e8efee;
}
.profile-header {
  background-color: #e8efee;
}
.profile-info {
  margin-left: 28%;
}
.header-offers {
  margin-bottom: 4%;
}
.offers {
  margin-top: 2%;
  background-color: #e8efee;
}
.photos {
  height: 19%;
}
.portfolios {
  margin-top: 2%;
  background-color: #e8efee;
}
.slick-list {
  margin-left: 20px !important;
}
.slick-slide {
  padding-left: 20px !important;
}
.slick-prev {
  top: 31% !important;
  left: -1% !important;
}
.slick-next {
  top: 31% !important;
  right: -1% !important;
}
.paginat {
  text-align: center;
}
.media hr {
  border-top: 2px solid #17efce;
}
.media-left img {
  height: 25%;
}
.edit div {
  display: inline-block;
  margin-top: 7%;
}
.imagePlace div {
  height: 30%;
  border: 1px dotted grey;
}
.imageDescr h2 {
  color: green;
}
.addPortfolioHeader h3 {
  color: #17efce;
}
.addPortfolioButtons span {
  color: black;
  font-weight: 700;
}
.addPortfolioButtons {
  padding-left: 2%;
}
.imageDescr textarea {
  resize: none;
}
.addPortfolioButtons button {
  background-color: #17efce;
}
.imageInfo div {
  width: 57%;
  margin-top: 4%;
}
.portfImage {
  display: inline-block;
}
.header-offers h3 {
  font-weight: 600;
  color: #17efce;
}
.portfolios span {
  display: inline-block;
  width: 62%;
  height: 33%;
}
.slick-prev::before,
.slick-next::before {
  color: black !important;
}
.profile-info .main-info h5 {
  font-weight: 600;
  color: #6c7c7a;
}
.systitle span:nth-of-type(1) {
  color: #17efce;
}
.systitle span:nth-of-type(2) {
  color: #aef4e9;
}
.profile-header .photo {
  width: 11%;
  float: left;
  margin-left: 10%;
  margin-top: 1%;
}
.photos img {
  height: 62%;
}
.side-bar ul {
  padding-left: 5%;
}
.header-ratings h3 {
  color: #17efce;
  font-weight: 600;
}
.hideDropZone {
  display: none;
}
.header-portfolios h3 {
  color: #17efce;
  font-weight: 600;
  margin-bottom: 4%;
}
.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}
.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}
pre {
  margin: 30px;
  font-size: 10px;
}
.addPortfolioButtons li:nth-child(1) {
  padding-left: 8.5%;
}
.addPortfolioButtons li:nth-child(2) {
  float: right;
  padding-right: 1.2%;
}
.profile-header .photo img {
  width: 100%;
}
.edit div img {
  width: 60%;
}
.side-bar ul li {
  padding-bottom: 5%;
}
.side-bar ul li a {
  text-decoration: none;
}
.side-bar ul li span {
  font-weight: 600;
  color: #17efce;
}
