//output:../views/deals.html
.container.header-deals
  .row
    .col-md-12
      ul.list-inline
        li
          a(href="")
            span Виконуються
        li
          a(href="")
            span Виконані
        li
          a(href="")
            span Пропозиції від Вас
        li
          a(href="")
            span Пропозиції для Вас
